/* lato-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/lato-v24-latin/lato-v24-latin-regular.woff2) format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lato-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: italic;
  font-weight: 400;
  src: url(./fonts/lato-v24-latin/lato-v24-latin-italic.woff2) format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* noto-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/noto-sans-v35-latin/noto-sans-v35-latin-regular.woff2)
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans";
  font-style: italic;
  font-weight: 400;
  src: url(./fonts/noto-sans-v35-latin/noto-sans-v35-latin-italic.woff2)
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
  font-family: var(--font-sans-1), sans-serif;
  box-sizing: border-box;
  font-size: 20px;
  --font-sans-1: Lato;
  --font-sans-2: Noto Sans;
  color: var(--font-color-dark);
  _background-color: var(--background-color-light);
  --font-color-dark: #161b33;
  --font-color-light: #f1dac4;
  --font-color-accent-warm: #cc3e28;
  --font-color-accent-cold: #7899d4;
  --font-color-accent-medium: #7a886d;
  --background-color-light: #ffead6fd;
  --bg-darkmode: #161b33;
}

.grid-container {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 0.5fr 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr 0.5fr 1fr 1fr 1fr 2fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas:
    "header header header"
    "nav colors colors"
    "nav fonts fonts"
    "nav text-style text-style"
    "nav buttons icons"
    "nav links forms"
    "nav lightmode darkmode"
    "footer footer footer";
  width: 100%;
}

.header {
  grid-area: header;
  text-align: center;
  margin-top: 2rem;
}

.nav {
  grid-area: nav;
}
.article-heading {
  box-sizing: border-box;
  height: 3rem;
  text-decoration: underline;
}

.colors {
  grid-area: colors;
  display: flex;
  flex-direction: row;
}

.cnt-colors {
  grid-area: colors;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  position: relative;
  left: -4rem;
}

.color {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: 2rem;
}

.first-color {
  background-color: var(--font-color-dark);
  color: var(--background-color-light);
  text-align: center;
  width: 4rem;
  height: 4rem;
  padding: 3rem;
  margin-right: 1rem;
}

.second-color {
  background-color: var(--font-color-light);
  color: var(--font-color-dark);
  text-align: center;
  width: 4rem;
  height: 4rem;
  padding: 3rem;
  margin-right: 1rem;
}

.third-color {
  background-color: var(--font-color-accent-warm);
  color: var(--background-color-light);
  text-align: center;
  width: 4rem;
  height: 4rem;
  padding: 3rem;
  margin-right: 1rem;
}

.fourth-color {
  background-color: var(--font-color-accent-medium);
  color: var(--background-color-light);
  text-align: center;
  width: 3rem;
  height: 4rem;
  padding: 3rem;
  margin-right: 1rem;
}

.fifth-color {
  background-color: var(--font-color-accent-cold);
  color: var(--background-color-light);
  text-align: center;
  width: 3rem;
  height: 4rem;
  padding: 3rem;
  margin-right: 1rem;
}

.fonts {
  grid-area: fonts;
  display: flex;
  flex-direction: row;
}

.first-font {
  font-family: var(--font-sans-1);
  margin: 1rem;
  justify-content: center;
  align-self: center;
}

.second-font {
  font-family: var(--font-sans-2);
  margin: 1rem;
  justify-content: center;
  align-self: center;
}

.text-style {
  grid-area: text-style;
}

.cnt-text-style {
  display: flex;
  flex-direction: row;
}

.first-text-style-block {
  align-self: center;
  margin-left: 1rem;
  font-family: var(--font-sans-1);
}

.second-text-style-block {
  justify-content: flex-end;
  align-self: center;
  margin-left: 1rem;
  font-family: var(--font-sans-2);
}

.buttons {
  grid-area: buttons;
}

.ctn-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -2rem;
}

.button {
  border-radius: 0.75rem;
  border: none;
  width: 9rem;
  height: 5rem;
  margin: 2rem;
  transition: color, 2s, ease-in-out, 0.5s;
  transition: background-color, 2s, ease-in-out, 0.5s;
}

.first-button {
  background-color: var(--font-color-dark);
  color: var(--background-color-light);
}

.first-button:hover {
  border: solid var(--font-color-dark) 0.25rem;
  background-color: transparent;
  color: var(--font-color-dark);
}

.second-button {
  background-color: var(--font-color-light);
  color: var(--font-color-dark);
}

.second-button:hover {
  border: solid var(--font-color-light) 0.25rem;
  background-color: transparent;
  color: var(--font-color-light);
}

.third-button {
  background-color: var(--font-color-accent-warm);
  color: var(--background-color-light);
}
.third-button:hover {
  border: solid var(--font-color-accent-warm) 0.25rem;
  background-color: transparent;
  color: var(--font-color-accent-warm);
}

.fourth-button {
  background-color: var(--font-color-accent-medium);
  color: var(--background-color-light);
}

.fourth-button:hover {
  border: solid var(--font-color-accent-medium) 0.25rem;
  background-color: transparent;
  color: var(--font-color-accent-medium);
}

.fifth-button {
  background-color: var(--font-color-accent-cold);
  color: var(--background-color-light);
}

.fifth-button:hover {
  border: solid var(--font-color-accent-cold) 0.25rem;
  background-color: transparent;
  color: var(--font-color-accent-cold);
}

.icons {
  grid-area: icons;
}
.links {
  grid-area: links;
}
.forms {
  grid-area: forms;
}
.lightmode {
  grid-area: lightmode;
}
.darkmode {
  grid-area: darkmode;
}

.footer {
  grid-area: footer;
}
